---
interface Props {
  lead: string;
  qualifications: string[];
  closing: string;
}

const { lead, qualifications, closing } = Astro.props;
---

<div class="about-credentials">
  <p class="about-credentials-lead">{lead}</p>
  <ul class="about-credentials-list">
    {
      qualifications.map((item) => (
        <li>
          <span class="about-credentials-badge" aria-hidden="true" />
          <span>{item}</span>
        </li>
      ))
    }
  </ul>
  <p class="about-credentials-closing">{closing}</p>
</div>
